@media screen and (max-width: 1200px){
    .tech-item img {
        width: 50px; /* Adjust size */
        height: 50px;
        object-fit: contain;
    }
    .tech-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Responsive columns */
        gap: 10px; /* Space between items */
        justify-items: center;
        align-items: center;
        padding: 10px;
    }

}

@media screen and (max-height:625px){
    section{
        margin: 0vh 15vw;
        padding-top: 7.5vh;
    }
    .tech-item img {
        width: 40px; /* Adjust size */
        height: 40px;
        object-fit: contain;
    }
    .tech-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Responsive columns */
        gap: 5px; /* Space between items */
        justify-items: center;
        align-items: center;
        padding: 5px;
    }
    

}

@media screen and (max-height:500px){
    section{
        margin: 0vh 15vw;
        padding-top: 5vh;
        height: fit-content;
    }

}

@media screen and (max-width: 1100px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .section{
        padding-top: 10vh;
    }
}

@media screen and (max-width: 900px){
    #desktop-nav{
<<<<<<< Updated upstream
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
<<<<<<< Updated upstream
    #profile,
    .section-container{
        display: block;
=======
    .profile-pic-container{
        display: none;
    }
    .section{
        padding-top: 10vh;
>>>>>>> Stashed changes
    }
    .tech-item img {
        width: 50px; 
        height: 50px;
        object-fit: contain;
    }
<<<<<<< Updated upstream
    section{
        margin: 0 5%;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto;
    }
    .about-containers{
        margin-top: 0;
    }
}
@media screen and (max-width: 600px){
    #contact,
    footer{
        height: 40vh;
        width: auto;
    }

    #profile{
        height: auto;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
        margin: auto auto;
    }
    .contact-info-container{
        margin: 0;

    }
    .contact-info-container p,.nav-links li a{
        font-size: 1rem;

    }
    
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__pic-p2{
        font-size: 1.25rem;
    }
    .text-container{
        text-align: justify;
=======
=======
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .profile-pic-container{
        display: none;
    }
    .section{
        padding-top: 10vh;
    }
    .tech-item img {
        width: 50px; 
        height: 50px;
        object-fit: contain;
    }
>>>>>>> Stashed changes
    .tech-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 10px; 
        justify-items: center;
        align-items: center;
        padding: 10px;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
    }
}


@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px); opacity: 0; }
  }
@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-20px);  opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px); opacity: 0; }
  }
@keyframes fade_move_down {
    0%   { transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px); opacity: 0; }
  }
<<<<<<< Updated upstream
<<<<<<< Updated upstream





=======
=======
>>>>>>> Stashed changes
  @keyframes scroll-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
